@import "tailwindcss";
@theme {
  /* Breakpoints */
  --breakpoint-sm: 30rem; /* 480px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 63.75rem; /* 1020px */
  --breakpoint-xl: 90rem; /* 1440px */

  /* Colors */
  --color-softBlue: hsl(231, 69%, 60%);
  --color-softRed: hsl(0, 94%, 66%);
  --color-grayishBlue: hsl(229, 8%, 60%);
  --color-veryDarkBlue: hsl(229, 31%, 21%);
  --color-redish: hsl(0, 100%, 27%);
  --color-firefox: #ff7139;
  --color-grammarlyGreen: #15C39A; /* Grammarly’s primary green */
  --color-grammarlyDarkGreen: #009879; /* Darker version */
  --color-grammarlyGray: #F9FAFB; /* Light gray background */
  --color-grammarlyText: #1F2937;/* Dark gray for text */


  /* Font Family */
  --font-rubik: "Rubik", sans-serif;
}
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  @apply container list-none bg-grammarlyDarkGreen text-grammarlyGray;
}
@utility container {
  width: 80%;
  margin-inline: auto;
}
.redy {
  color: var(--custom-red);
}
.rubik {
  font-family: var(--font-rubik);
}

/* instead of doing the --custom-red approach and using it in tailwind as redy, due to simply writing --color-redish allows tailwind's color to set it for bg and text, i just have to write text-redish and it will work*/

@media (min-width: 1020px) {
  .bg-hero {
    width: 100%;
    height: 300px;
    left: 30%;
    clip-path: ellipse(150vw 100% at 0% 50%);
    @apply absolute rounded-l-full top-52 bg-green-100;
  }
  .bg-tabs {
    width: 100%;
    height: 300px;
    right: 60%; /* Ensure it starts from the right */
    clip-path: ellipse(
      150vw 100% at 100% 50%
    ); /* Shift the focal point to the right */
    @apply absolute rounded-r-full top-60 bg-green-100;
  }
}
