@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-sm: 30rem; /* 480px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 63.75rem; /* 1020px */
  --breakpoint-xl: 90rem; /* 1440px */

  /* Colors */
  --color-softBlue: hsl(231, 69%, 60%);
  --color-softRed: hsl(0, 94%, 66%);
  --color-grayishBlue: hsl(229, 8%, 60%);
  --color-veryDarkBlue: hsl(229, 31%, 21%);
  --color-redish: hsl(0, 100%, 27%);
  --color-firefox: #ff7139;
  --color-grammarlyGreen: #15C39A;      /* Grammarly’s primary green */
  --color-grammarlyDarkGreen: #009879; /* Darker version */
  --color-grammarlyGray: #F9FAFB;  /* Light gray background */
  --color-grammarlyText: #1F2937; /* Dark gray for text */
  --color-chromeGreen:#34A853;

  /* Font Family */
  --font-rubik: "Rubik", sans-serif;
}
html
{
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  @apply  list-none bg-grammarlyDarkGreen text-grammarlyGray;
}
@utility container {
  width: 80%;
  margin-inline: auto;
}
.section-spacing
{
  @apply my-16;
}
.rubik {
  font-family: var(--font-rubik);
}
.redy {
  color: var(--custom-red);
}
/* ^ Instead of defining a custom variable like --custom-red and manually mapping it in Tailwind as redy, using a name like --color-redish allows Tailwind to automatically recognize and apply it. This way, you can simply write text-redish or bg-redish in Tailwind, and it will work seamlessly.*/

.btn
{
  @apply px-8 py-2 text-white bg-chromeGreen border-2 border-chromeGreen rounded-lg shadow-md  hover:bg-white hover:text-chromeGreen;
}
.google-btn {
  @apply bg-white  rounded-sm box-border 
         text-gray-900 cursor-pointer text-sm 
         px-6 py-2 flex items-center justify-between max-w-[400px] min-w-min
         transition duration-200 ease-in-out shadow-sm hover:shadow-md;
}

.google-btn:disabled {
  @apply cursor-default bg-white/50 border-gray-200 opacity-50;
}

.google-btn-icon {
  @apply h-5 w-5 mr-3;
}

.google-btn-content {
  @apply flex-grow font-medium truncate;
}

.google-btn-state {
  @apply absolute inset-0 opacity-0 transition-opacity;
}

.google-btn:active .google-btn-state,
.google-btn:focus .google-btn-state {
  @apply bg-black opacity-10;
}

@media (min-width: 1020px) {
  .bg-hero {
    width: 100%;
    height: 300px;
    left: 40%;
    clip-path: ellipse(150vw 100% at 0% 50%);
    @apply absolute rounded-l-full top-52 bg-green-100;
  }
  .bg-tabs {
    width: 100%;
    height: 300px;
    right: 60%; /* Ensure it starts from the right */
    clip-path: ellipse(
      150vw 100% at 100% 50%
    ); /* Shift the focal point to the right */
    @apply absolute rounded-r-full top-60 bg-green-100;
  }
  .bg-hero-right {
    width: 100%;
    height: 250px;
    right: -100%;
    clip-path: ellipse(150vw 100% at 0% 50%);
    @apply absolute rounded-l-full top-52 bg-green-100;
  }
}
